@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 202, 211, 245;
    --background-start-rgb: 36, 39, 58;
    --background-end-rgb: 36, 39, 58;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  background-color: #c6a0f6;
  padding: 5px;
  border-radius: 5px;
  color: #24273a;
  margin-top: 10px;
}

button:hover {
  background-color: #f5bde6;
  transition: 0.2s ease-in-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
